html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  overflow-x: hidden;
  justify-content: center; 
}

.container {
  width: 100%;
  display: grid;
  margin-right: 660px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 1200px;
  grid-template-areas:
    "big small"
    "big medium";
}

.big {
  grid-area: big;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.big img {
  width: 980px;
  height: 580px;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.small {
  grid-area: small;
  display: flex;
  gap: 30px;
}

.small img {
  width: 410px;
  height: 270px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.medium {
  grid-area: medium;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.medium img {
  width: 850px;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.medium .newpic {
  width: 850px;
  height: 295px;
  transition: transform 0.3s ease;
}

.big img:hover,
.small img:hover,
.medium img:hover {
  transform: scale(1.05); 
}

@media (max-width: 1180px) {
  .container {
    width: 60%; 
    margin-right: 400px;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    max-width: 1000px; 
    margin-top: 5px;
  }

  .big img {
    width: 540px;
    height: 510px;
  }

  .small img {
    width: 250px; 
    height: 220px;
  }

  .medium img {
    width: 530px;
    height: 500px;
    border-radius: 20px;
  }

 .newpic {
    width: 530px;
    height: auto;
  }

  .medium .newpic {
    width: 530px;
    height: 280px;
  }
}

@media (max-width: 932px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "big1"
      "small"
      "medium1"
      "big2"
      "newpic";
      margin-left: 80px;
    margin-top: 10px;
    justify-items: center;
  }

  .big {
    grid-area: big1;
  }

  .big:nth-child(4) {
    grid-area: big2;
  }

 
  .small {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .small img {
    width: 48%;
    height: auto;
  }

  .medium {
    grid-area: medium1;
  }

  .medium .newpic {
    grid-area: newpic;
    width: 600px;

  }

  .big img,
  .medium img {
    width: 600px;
    height: auto;
  }
}
