.big-conteiner {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.info-conteiner {
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 30px;
    background-color: white;
    width: calc(90vw - 40px); 
    height: calc(70vh - 40px);
    padding: 20px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    gap: 30px;
    align-items: center; 
    box-sizing: border-box;
}

.info-conteiner > div {
    text-align: center;
    flex: 1; 
    min-width: 200px;
}

.icon-circle {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px auto; 
}

.info-conteiner svg {
    width: 64px;
    height: 64px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    margin: 10px 0;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}

@media (max-width: 1180px) {
    .info-conteiner {
        flex-direction: column;
        justify-content: center;
    }

    .carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .carousel-control {
        background: none;
        border: none;
        font-size: 2rem;
        color: #333;
        cursor: pointer;
        margin-top: 10px;
    }

    .prev {
        align-self: flex-start;
    }

    .next {
        align-self: flex-end;
    }

    .info-item {
        width: 100%;
    }

    .info-conteiner > div {
        display: none;
    }

    .info-conteiner > div:nth-child(1) {
        display: block;
    }

    .info-conteiner > div:nth-child(2) {
        display: none;
    }

    .info-conteiner > div:nth-child(3) {
        display: none;
    }

    .info-conteiner > div.active {
        display: block;
    }
}