.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.desktop-banner {
    width: 100%;
    object-fit: cover; 
    display: block;
}

.mobile-banner {
    width: 100%;
    object-fit: cover; 
    display: none; 
}

@media (min-width: 932px) {
    .desktop-banner {
        display: block;
    }

    .mobile-banner {
        display: none;
    }
}

@media (max-width: 931px) {
    .desktop-banner {
        display: none;
    }

    .mobile-banner {
        display: block;
    }
}
