.testimonios-encabezado {
    margin-top: 150px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 60px;
}

.estrellas {
    display: flex;
    justify-content: center;
    margin: 10px 0; 
}

.estrellas svg {
    margin: 0 5px; 
}

.contenedor-opiniones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.carrusel {
    display: flex;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
    margin-bottom: 50px;
}

.control-previo,
.control-siguiente {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.tarjeta-opinion {
    text-align: center;
    width: 640px; 
    height: 600px;
    flex-shrink: 0; 
    box-sizing: border-box; 
    padding: 15px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta-opinion img {
    display: block;   
    margin: 0 auto; 
    width: 20%;
    height: auto;
    border-radius: 10px;
}

.tarjeta-opinion h2 {
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

.tarjeta-opinion p {
    font-family: "Poppins", sans-serif;
}

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.tarjetas-opinion {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.tarjeta-opinion {
    min-width: 300px; 
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

.control-previo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.nombre {
    color: rgb(147, 146, 146);
    font-size: 22px;
}

.control-siguiente {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
