.body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra {
  font-family: "Poppins", sans-serif;
  background-color: rgb(95 37 159);
  color: white;
  padding: 22px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  z-index: 1000;
  /* Cambia position fixed por static */
  position: static;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.navBar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  position: static;
  z-index: 100;
}

.logo {
  height: 40px;
}

.texts {
  display: flex;
  gap: 70px;
}

.texts p {
  color: white;
  margin: 0;
  cursor: pointer;
  font-size: 22px;
  margin-inline: 15px;
}

.barIcon {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 45px;
}

.barIcon svg,
.flagImg {
  height: 35px;
  width: 35px;
  stroke: white;
}

.flag {
  height: 35px;
  width: 35px;
}

.menuIcon {
  display: none;
  margin-left: 20px;
}

@media (max-width: 1180px) {
  .texts {
    display: none;
  }

  .menuIcon {
    display: block;
    height: 35px;
    width: 35px;
  }

  .navBar {
    justify-content: center;
    position: relative;
  }

  .logo {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .menuIcon {
    position: absolute;
    left: 20px;
  }

  .barIcon {
    position: absolute;
    right: 20px;
  }
}

@media (max-width: 932px) {
  .user-icon {
    display: none;
  }

  .search-icon {
    position: relative;
    z-index: 1;
    left: -430px;
  }
}
